__pycache__/
*.py[cod]
*.pyo

chatapp/
.env
*.db
*.pyc
.DS_Store
# IDE
.vscode/
.idea/

# Logs
*.log

# Uploaded files
uploads/*
!uploads/.gitkeep

# Virtual environment
venv/
.env/
.venv/

# Temporary
tree.txt