#app-container { display: none; width: 100%; height: 100%; position: relative; }

.sidebar { 
    width: 320px; background: #1e1e1e; border-right: 1px solid #2a2a2a; 
    display: flex; flex-direction: column; z-index: 20; 
}

.chat-area { 
    flex: 1; display: flex; flex-direction: column; background: #0f0f0f; 
    position: relative; z-index: 10; 
}

.sidebar-header { background: #1e1e1e; display: flex; flex-direction: column; border-bottom: 1px solid #2a2a2a; }
    
.chat-header { 
    padding: 10px 15px; background: #2c2c2c; border-bottom: 1px solid #333; color: white;
    display: flex; align-items: center; justify-content: flex-start; height: 60px; gap: 10px; box-sizing: border-box;
}

.list-area { flex: 1; overflow-y: auto; }

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Forces text to align left */
    justify-content: center;
}
